* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(219, 213, 213);
  
}

.app {

  height: 600px;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 15% 1fr;

  grid-template-areas: 'header header' 'nav main';
}

aside.nav {
  grid-area: nav;
}

main.container {
  grid-area: main;
}

header.header {
  grid-area: header;
}